# Final Project Submission


Jonathan Flores

Full time

May 12, 2023

Instructors:Praveen Gowtham & Brendan Hutchinson

# Phase 1 Final Project

# Overview

For this Projects I used exploritory data analysis to generate insights for the bussiness stakeholders

# Business Problem

Mircosoft wants to enter into the film industry to create original conetent but they dont know any data driven way to create a viable plan to achieve box office succes.

# Data

The data that was derived to create these insights are from IMDB, Box Office Mojo and TheMovieDB, as well as data from the Numbers website(A24 Data that was collected using an API platform).

# Methods

This project uses exploratory data analysis tools such as deriving data using an api, data cleaning large sets of csv files after converting them into dataframes and uses matplotblyb and seaborn to visualize any patterns/findings that were made.

# Data Understanding

By using mutlple datasets where budgets, box office gross numbers are displayed, profit margins can be derived and show how absorbing a studio as the main branch of exporting movies is the ideal approach to the issue of entering a new industry. The data files and types can be broken down to compare visualy compare the findings and show how aquiring A24 is a viable option.

In [68]:
import pandas as pd
import numpy as np

In [81]:
#this dataframe was used to get most liked genres in IMDB to get the highest rated genre  
df1=pd.read_csv(r'/Users/jonathanflores/Documents/Flatiron/Gitted_project/zippedData/tmdb.movies.csv')
df1.head()

,Unnamed: 0,genre_ids,id,original_language,original_title,popularity,release_date,title,vote_average,vote_count
0,0,"[12, 14, 10751]",12444,en,Harry Potter and the Deathly Hallows: Part 1,33.533,2010-11-19,Harry Potter and the Deathly Hallows: Part 1,7.7,10788
1,1,"[14, 12, 16, 10751]",10191,en,How to Train Your Dragon,28.734,2010-03-26,How to Train Your Dragon,7.7,7610
2,2,"[12, 28, 878]",10138,en,Iron Man 2,28.515,2010-05-07,Iron Man 2,6.8,12368
3,3,"[16, 35, 10751]",862,en,Toy Story,28.005,1995-11-22,Toy Story,7.9,10174
4,4,"[28, 878, 12]",27205,en,Inception,27.920,2010-07-16,Inception,8.3,22186

In [80]:
#this data set was used to find the highest profit margin for the top 16 grossing movies of all time 
df2=df = pd.read_csv(r'/Users/jonathanflores/Documents/Flatiron/Gitted_project/zippedData/tn.movie_budgets.csv')
df2.head()

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross
0,1,"Dec 18, 2009",Avatar,"$425,000,000","$760,507,625","$2,776,345,279"
1,2,"May 20, 2011",Pirates of the Caribbean: On Stranger Tides,"$410,600,000","$241,063,875","$1,045,663,875"
2,3,"Jun 7, 2019",Dark Phoenix,"$350,000,000","$42,762,350","$149,762,350"
3,4,"May 1, 2015",Avengers: Age of Ultron,"$330,600,000","$459,005,868","$1,403,013,963"
4,5,"Dec 15, 2017",Star Wars Ep. VIII: The Last Jedi,"$317,000,000","$620,181,382","$1,316,721,747"

In [110]:
A24=pd.read_csv('/Users/jonathanflores/Documents/Flatiron/Gitted_project/A24.csv')
A24.head()

,Unnamed: 0,title,Directed by,Written by,Produced by,Starring,Cinematography,Edited by,Music by,Production companies,...,Language,Running time (int),Budget (float),Box office (float),Release dates (datetime),imdb,metascore,rotten_tomatoes,Screenplay by,Based on
0,0,A Glimpse Inside the Mind of Charles Swan III,Roman Coppola,Roman Coppola,"['Roman Coppola', 'Youree Henley']","['Charlie Sheen', 'Katheryn Winnick', 'Bill Mu...",Nick Beal,Robert Schafer,"['Liam Hayes', 'Roger Neill']","['American Zoetrope', 'The Directors Bureau']",...,English,86.0,NaN,210565.0,2012-11-15,4.6,28.0,16%,NaN,NaN
1,1,Ginger & Rosa,Sally Potter,Sally Potter,"['Christopher Sheppard', 'Andrew Litvin']","['Elle Fanning', 'Alice Englert', 'Alessandro ...",Robbie Ryan,Anders Refn,NaN,"['British Film Institute', 'BBC Films', 'Adven...",...,English,90.0,NaN,1700000.0,2012-09-07,6.2,69.0,78%,NaN,NaN
2,2,Spring Breakers,Harmony Korine,Harmony Korine,"['Chris Hanley', 'Jordan Gertner', 'David Zand...","['James Franco', 'Selena Gomez', 'Vanessa Hudg...",Benoît Debie,Douglas Crise,"['Skrillex', 'Cliff Martinez']","['Muse Productions', 'Annapurna Pictures', 'Di...",...,English,94.0,5000000.0,31700000.0,2012-09-04,5.3,63.0,67%,NaN,NaN
3,3,The Bling Ring,Sofia Coppola,NaN,"['Roman Coppola', 'Sofia Coppola', 'Youree Hen...","['Israel Broussard', 'Katie Chang', 'Taissa Fa...","['Harris Savides', 'Christopher Blauvelt']",Sarah Flack,"['Brian Reitzell', 'Daniel Lopatin']","['American Zoetrope', 'NALA Films', 'Pathé Dis...",...,English,90.0,8200000.0,20000000.0,2013-05-16,5.6,66.0,60%,Sofia Coppola,"['""The Suspects Wore Louboutins""', 'by', 'Nanc..."
4,4,The Spectacular Now,James Ponsoldt,NaN,"['Tom McNulty', 'Shawn Levy', 'Michelle Krumm'...","['Miles Teller', 'Shailene Woodley', 'Brie Lar...",Jess Hall,Darrin Navarro,Rob Simonsen,"['Andrew Lauren Productions', '21 Laps Enterta...",...,English,95.0,2500000.0,6900000.0,2013-01-18,7.1,82.0,91%,"['Scott Neustadter', 'Michael H. Weber']","['The Spectacular Now', 'by Tim Tharp']"

# Data Cleaning

In order to make sense of large dataframes there must be some cleaning procedures to occur. An issue i imediatly ran into wth df1 is the missing id's from genre's

# Working with data set 1, Genre favoribility(df1)

In [72]:
#a dictionary was created from the website 
genre_dict = \
{'Action'        :  28,
'Adventure'     :  12 ,
'Animation'     :  16,
'Comedy'         : 35,
'Crime'          : 80,
'Documentary'    : 99,
'Drama'          : 18,
'Family'         : 10751,
'Fantasy'        : 14,
'History'        : 36,
'Horror'         : 27,
'Music'          : 10402,
'Mystery'        : 9648,
'Romance'        : 10749,
'Science Fiction' : 878,
'TV Movie'      : 10770,
'Thriller'       : 53,
'War'            : 10752,
'Western'        : 37}

by binding the dicionary to this array we are now able to bind the dictionray to the dataframe

In [73]:
genre_dict = {v:k for k,v in genre_dict.items()}
genre_dict

{28: 'Action',
 12: 'Adventure',
 16: 'Animation',
 35: 'Comedy',
 80: 'Crime',
 99: 'Documentary',
 18: 'Drama',
 10751: 'Family',
 14: 'Fantasy',
 36: 'History',
 27: 'Horror',
 10402: 'Music',
 9648: 'Mystery',
 10749: 'Romance',
 878: 'Science Fiction',
 10770: 'TV Movie',
 53: 'Thriller',
 10752: 'War',
 37: 'Western'}

now we want to replace the brackets and take away any commas in order for it to pass out as an operable string

In [74]:
df1['genre_ids'] =df1['genre_ids'].apply(lambda x: x.replace('[', ''))
df1['genre_ids'] =df1['genre_ids'].apply(lambda x: x.replace(']', ''))

In [75]:
df1['genre_ids'] = df1['genre_ids'].apply(lambda x: x.split(','))
#after doing so we are now able to insert the dictionary into the dataframe and create a new column using the .apply lambda function

In [60]:
df1['genre_ids'] = df1['genre_ids'].apply(lambda x: [i for i in x if i])

In [61]:
df1['genre_ids'] = df1['genre_ids'].apply(lambda x: [int(i) for i in x])

In [62]:
df1['genre_ids'].apply(lambda x: [genre_dict[i] for i in x])

0                   [Adventure, Fantasy, Family]
1        [Fantasy, Adventure, Animation, Family]
2           [Adventure, Action, Science Fiction]
3                    [Animation, Comedy, Family]
4           [Action, Science Fiction, Adventure]
                          ...
26512                            [Horror, Drama]
26513                          [Drama, Thriller]
26514               [Fantasy, Action, Adventure]
26515                [Family, Adventure, Action]
26516                         [Thriller, Horror]
Name: genre_ids, Length: 26517, dtype: object

In [66]:
df1['genres']= df1['genre_ids'].apply(lambda x: [genre_dict[i] for i in x])

After doing all of this work we now have a working dataframe to derive which genre we can focus on.

Which after some more cleaning and sorting we can use this violin plot to determine which genres are popular among critics.

# Working with data set 2, Box office Profit Margin(df2)

With Data set 2 the main issues were replacing dollar signs, commas and formating columns to float types in order to find the profit margin of the Highest grossing movies of all time.

In [98]:
df2['production_budget'] =df2['production_budget'].apply(lambda x: x.replace('$',' '))
df2['domestic_gross'] =df2['domestic_gross'].apply(lambda x: x.replace('$',' '))
df2['worldwide_gross'] =df2['worldwide_gross'].apply(lambda x: x.replace('$',' '))
df2['production_budget'] =df2['production_budget'].apply(lambda x: x.replace(',',' '))
df2['domestic_gross'] =df2['domestic_gross'].apply(lambda x: x.replace(',',' '))
df2['worldwide_gross'] =df2['worldwide_gross'].apply(lambda x: x.replace(',',' '))

In [99]:
df2['budget']= df2['production_budget'].str.replace(' ', '')
df2['Domesticgross']=df2['domestic_gross'].str.replace(' ', '')
df2['WorldWidegross']=df2['worldwide_gross'].str.replace(' ', '')

Now we can do some division and finally get a new profit margin column, but before we do so we need to convert the columns budget and WorldWideGross to a float by using the .to_numeric function.

In [100]:
df2.dtypes

id                    int64
release_date         object
movie                object
production_budget    object
domestic_gross       object
worldwide_gross      object
budget               object
Domesticgross        object
WorldWidegross       object
dtype: object

In [104]:
df2["budget"] = pd.to_numeric(df["budget"], downcast="float")
df2["WorldWidegross"] = pd.to_numeric(df["WorldWidegross"], downcast="float")

In [105]:
df2.dtypes

id                     int64
release_date          object
movie                 object
production_budget     object
domestic_gross        object
worldwide_gross       object
budget               float64
Domesticgross         object
WorldWidegross       float64
dtype: object

In [107]:
df2["ProfitMargin"] = df2["WorldWidegross"]/df2["budget"]
df2.head()

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross,budget,Domesticgross,WorldWidegross,ProfitMargin
0,1,"Dec 18, 2009",Avatar,425 000 000,760 507 625,2 776 345 279,425000000.0,760507625,2.776345e+09,6.532577
1,2,"May 20, 2011",Pirates of the Caribbean: On Stranger Tides,410 600 000,241 063 875,1 045 663 875,410600000.0,241063875,1.045664e+09,2.546673
2,3,"Jun 7, 2019",Dark Phoenix,350 000 000,42 762 350,149 762 350,350000000.0,42762350,1.497624e+08,0.427892
3,4,"May 1, 2015",Avengers: Age of Ultron,330 600 000,459 005 868,1 403 013 963,330600000.0,459005868,1.403014e+09,4.243841
4,5,"Dec 15, 2017",Star Wars Ep. VIII: The Last Jedi,317 000 000,620 181 382,1 316 721 747,317000000.0,620181382,1.316722e+09,4.153696

Now we can work on the A24 data set after web scraping and downloading the file using beautiful soup, threading operations, looping. The result was a csv file that after simlar operations above we were able to get df3

after doing similar operations as those above we were able to finally come up with the proposal for Microsoft to purchase A24

In [111]:
#we dropped columns
A24.drop(['Produced by', 'Starring', 'Cinematography','Edited by','Music by','Production companies'], axis=1)
A25 = A24

In [112]:
A26= A25.drop(['Release dates (datetime)','rotten_tomatoes','Screenplay by','Based on','Produced by','Starring','Cinematography','Edited by','Music by','Production companies','Language','Running time (int)','Country','Distributed by','Written by','Unnamed: 0'], axis=1)
#we dropped even more columns

Found A24's top performing movies and found the profit margin

In [114]:
A26["ProfitMargin"] = A26["Box office (float)"]/A26["Budget (float)"]

,title,Directed by,Budget (float),Box office (float),imdb,metascore,ProfitMargin
2,Spring Breakers,Harmony Korine,5000000.0,31700000.0,5.3,63.0,6.340000e+08
3,The Bling Ring,Sofia Coppola,8200000.0,20000000.0,5.6,66.0,2.439024e+08
4,The Spectacular Now,James Ponsoldt,2500000.0,6900000.0,7.1,82.0,2.760000e+08
7,Locke,Steven Knight,2000000.0,5100000.0,7.1,81.0,2.550000e+08
8,Obvious Child,Gillian Robespierre,1000000.0,3300000.0,6.7,76.0,3.300000e+08
...,...,...,...,...,...,...,...
121,Pearl,Ti West,1000000.0,9400000.0,7.0,73.0,9.400000e+08
122,X,Ti West,1000000.0,15100000.0,6.6,79.0,1.510000e+09
128,The Inspection,Elegance Bratton,3000000.0,385627.0,7.1,73.0,1.285423e+07
129,White Noise,Noah Baumbach,100000000.0,34818.0,5.5,30.0,3.481800e+04
131,The Whale,Darren Aronofsky,3000000.0,17200000.0,8.1,60.0,5.733333e+08

In [130]:
A26['ProfitMargin'] = A26['ProfitMargin'].apply(lambda x: x*100)

In [131]:
A27= A26.dropna()

In [132]:
A27

,title,Directed by,Budget (float),Box office (float),imdb,metascore,ProfitMargin
2,Spring Breakers,Harmony Korine,5000000.0,31700000.0,5.3,63.0,6.340000e+18
3,The Bling Ring,Sofia Coppola,8200000.0,20000000.0,5.6,66.0,2.439024e+18
4,The Spectacular Now,James Ponsoldt,2500000.0,6900000.0,7.1,82.0,2.760000e+18
7,Locke,Steven Knight,2000000.0,5100000.0,7.1,81.0,2.550000e+18
8,Obvious Child,Gillian Robespierre,1000000.0,3300000.0,6.7,76.0,3.300000e+18
...,...,...,...,...,...,...,...
121,Pearl,Ti West,1000000.0,9400000.0,7.0,73.0,9.400000e+18
122,X,Ti West,1000000.0,15100000.0,6.6,79.0,1.510000e+19
128,The Inspection,Elegance Bratton,3000000.0,385627.0,7.1,73.0,1.285423e+17
129,White Noise,Noah Baumbach,100000000.0,34818.0,5.5,30.0,3.481800e+14
131,The Whale,Darren Aronofsky,3000000.0,17200000.0,8.1,60.0,5.733333e+18

# Analysis

By seeing the upcoming trends of Tech companies absorbing studios, we sought that Microsoft can do the same by aquiring A24 to have an immidiate impact in the market, not spend alot in budgets for movies and allocate little overhead resources to the project by leaving the culture of A24 in tact and continue leaving the creative decisions to directors as they perform best when allowed to.